<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="QAWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1880/QAWebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="QAWebServiceSoap" contract="QAWebService.QAWebServiceSoap"
                name="QAWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>